[Credentials]
API_KEY = 
TOKEN = 

[Paths]
API_URL = https://api.trello.com/1/
OUTPUT_DIRECTORY = backups

[Options]
; Expiration: "1hour", "1day", "30days", "never"
TOKEN_EXPIRATION = never

; The arbitrary name that trello.com recognizes this script by.
APP_NAME = Trello-Backup

; If you only want to backup organization cards, specify a comma separated
; list of the Trello organization IDs (if you know them) or names.
ORGANIZATION_IDS = 
; Organization names can be found in the URL: https://trello.com/{organization name}
ORGANIZATION_NAMES = 

PRETTY_PRINT = no
